# تجاهل البيئة الافتراضية (لأن حجمها كبير وتختلف من جهاز لآخر)
venv/
.venv/
env/

# تجاهل ملفات بايثون المؤقتة
__pycache__/
*.py[cod]
*$py.class

# تجاهل قاعدة البيانات المحلية (يفضل البدء بقاعدة بيانات نظيفة دائماً)
db.sqlite3

# تجاهل ملفات إعدادات VS Code الخاصة بك
.vscode/